.badges {
    grid-area: badges;
    
    &__list {
      padding: 1rem 2rem 2rem 2rem;
      margin: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5rem;
    }
    
    &__heading {
      padding-left: 2rem;
      margin: 0;
    }
  
    &__count {
      font-weight: 300;
      margin-left: 0.65rem;
      font-size: 1rem;
      background: rgba(236, 240, 241, 0.3);
      padding: 0.25rem 0.75rem;
      border-radius: 2rem;
    }
  }