.container {
    display: grid;
    grid-template-areas: "sidebar stats"
                          "sidebar badges";
    grid-template-rows: 500px auto;
    grid-template-columns: 300px 1fr;
    height: 100vh;
  }